<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=10; IE=9; IE=8; IE=EDGE; Chrome=1"/>
    <title>数据库查询</title>
    <link rel="stylesheet" href="../css/demo.css"/>
    <link rel="stylesheet" href="../css/list_css.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/common.css" media="screen">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <style>
        .box_con{
        	  width:1300px;
        	  margin-right:auto;
        	  margin-left:auto;
        }
        .con{
        	height:35px; 
        }
        .con_down_span{
        	font-size:12px;
    		line-height:55px;
            margin-left:40px;
        }
        .demo{
        	margin-left:267px;
        }
        .box_con_con input{
        	border-width: 0px;
        	text-align: center;
    	}
    </style>
</head>
<body onselectstart="return false">
<div class="header">
    <div class="logo">
        <span>数据库查询</span>
    </div>
        <span class="con1"></span>
</div>
<div class="con">

</div>
<div class="box_con" >
	
    <div class="box_con_left" id="demo">
        <ul class="one"></ul>
    </div>
    <div class="box_con_right" style="position:relative;">
    	<div class="box_con_top_up" style="position:relative;">
    		<ul id="top_up" class=" nav-tabs"> 
    			<li class="ative"> <input type="button" class="biaojiegou" value="表结构" style="border:1px solid;height:30px;width:50px;"/></li>
    			<li class="ative"> <input type="button" class="miaosu" value="描述" style="border:1px solid;height:30px;width:50px;"/></li>
    			<li class="ative"> <input type="button" class="plxg" value="批量修改" style="border:1px solid;height:30px;width:60px;"/></li>
    			<li class="ative"> <input type="button" class="plsc" value="批量删除" style="border:1px solid;height:30px;width:60px;"/></li>
    		</ul>	
     	</div>
    	<div class="box_con_top" style="position:relative;">
     	<textarea name="" id="" cols="60" rows="2" class="form-control input  bbbtext" style="height:100%;width:100%;"></textarea>
     	</div>
     	
    	<div class="box_con_con" style="position:relative;" >
    	  <table class=""><tbody class ="tb_body">
    	  </tbody></table>
    	</div>
    	
    	<div class="demo" style="position:relative;">
        	<ul id="pandemo2" class="pagination"></ul>
    	</div>
    	
    	<div class="box_con_down" style="position:relative;">
    	   <span class="con_down_span"> 提示信息 :<span class="con_down_span2"></span></span>
    	</div>
    	
    </div>
    
</div>
<script src="../js/jquery-1.7.2.js"></script>
<script src="../js/jqPaginator.min.js" type="text/javascript"></script>
<script src="../js/layer/layer.js"></script>
<script src="../js/main.js"></script>
<script type="text/javascript" src="../js/zUI.js"></script>
<script>
    $(document).ready(function() {
       
    	
    	$(".bbbtext").attr("disabled",true);
        getLeft();//获取url；确定加载页面
        function getLeft(){
            var liHtml="<li class=\"list\">表名</li>";
            var obj="";
            var datas=main.requireAjax(main.configIp+"/ssm-maven/sql/getsqltb.do",JSON.stringify({dbName:main.databases}),"get");
            if(datas.code=="0000"){
            	localStorage.setItem("table",JSON.stringify(datas.data["getTables"]));
            	for(var i = 0; i <datas.data["getTables"].length; i++){
            		liHtml+="<li class=\"list2\">"+datas.data["getTables"][i]["tableName"]+"</li>"
            	}
            }else if(datas.code=="1000"){
                layer.msg(datas.msg);
            }
            $(".one").html(liHtml);
            $(".one li").eq(1).css({background:"#3196EC"});
            $(".one").on("click",".list2",function(){
                $(this).css({background:'#3196EC'}).siblings().css({background:"#f5f5f5"});
                $(".bbbtext").val("SELECT * FROM "+$(this).html());
                localStorage.setItem("tableName",$(this).html());
            });
    }
        var globalObj={
                page:1,
                number:1,
                sum:1
            };
        function setPageConfig(obj){
            $("#pandemo2").jqPaginator({
                totalPages: globalObj.sum,
                visiblePages: 5,
                currentPage: 1,
                first: '<li class="first"><a href="javascript:void(0);">首页<\/a><\/li>',
                prev: '<li class="prev"><a href="javascript:void(0);"><i class="arrow arrow2"><\/i>上一页<\/a><\/li>',
                next: '<li class="next"><a href="javascript:void(0);">下一页<i class="arrow arrow3"><\/i><\/a><\/li>',
                last: '<li class="last"><a href="javascript:void(0);">末页<\/a><\/li>',
                page: '<li class="page"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
                onPageChange: function (n) {
                    globalObj.page=n;
                    var  tbval=localStorage.getItem("tableName");
                    getTable({tbName:tbval,dbName:main.databases,page:n,size:5});
                }
            });
        }
        $(".miaosu").click(function(){
        	var  tbfval=JSON.parse(localStorage.getItem("tableField"));
        	        var modalHtml="<div class='miaosu_layer'>";
        	        	modalHtml+="<table class=\"tbstr\">";
        	       		modalHtml+="<tr><td>表字段</td><td>类型</td><td>注释</td></tr>";
        	        for(var i=0;i<tbfval.length;i++){
        	        	modalHtml+="<tr><td>"+tbfval[i]["columnName"]+"</td><td>"+tbfval[i]["dataType"]+"</td><td>"+tbfval[i]["columnComment"]+"</td></tr>";
        	        	console.log(tbfval[i]["columnName"]);
        	        }
        	        	modalHtml+="</table>";
        	        	modalHtml+="</div>";
        	        layer.open({
        	            type:1.,
        	            title:"描述",
        	            content:modalHtml
        	    });
            }); 
        $(".biaojiegou").click(function(){
        	var biaojiegouList=JSON.parse(localStorage.getItem("table"));
        	        var modalHtml="<div class='miaosu_layer'>";
        	        	modalHtml+="<table class=\"tbstr\">";
        	       		modalHtml+="<tr><td>表名</td><td>注释</td></tr>";
        	        	var  tbval=localStorage.getItem("tableName");
        	        	
        	        for(var i=0;i<biaojiegouList.length;i++){
        	        	if(biaojiegouList[i]["tableName"]==tbval){
        	        	modalHtml+="<tr><td>"+biaojiegouList[i]["tableName"]+"</td><td>"+biaojiegouList[i]["tableComment"]+"</td></tr>";
        	        }
        	        }
        	        	modalHtml+="</table>";
        	        	modalHtml+="</div>";
        	        layer.open({
        	            type:1.,
        	            title:"表结构",
        	            content:modalHtml
        	    });
           
            });
        $(".plsc").click(function(){
        	
        	var  tbName=localStorage.getItem("tableName");
        	var  tableField=JSON.parse(localStorage.getItem("tableField"));
        	var  idType=tableField[0]["dataType"];
        	
        	  var delVal="[";
              $(".box_con_con input[name='abc']:checked").each(function () {
            	  var id=$(this).attr("class");
            	  id=idTypeDispose(id,idType);
                  delVal+="{'id':"+id+",'dbName':'"+main.databases+"'"+",'tbName':'"+tbName+"'},";
                  
              });
              delVal=delVal.substring(0,delVal.length-1);
              delVal+="]";
              console.log(delVal);
              var datas=main.requireAjax(main.configIp+"/ssm-maven/sql/delData.do",JSON.stringify(delVal),"post");
              if(datas.code=="0000"){
            	  layer.msg(datas.msg);
            	  getTable({tbName:tbName,dbName:main.databases,page:1,size:5});
              }else if(datas.code=="1000"){
                  layer.msg(datas.msg);
              }
            }); 
        function idTypeDispose(id,idType){
        	
        	if("int"==idType){
        		return id;
        	}
        	return "'"+id+"'";
        	
        }
 		$(".plxg").click(function(){
 			var  tbName=localStorage.getItem("tableName");
        	var  tableField=JSON.parse(localStorage.getItem("tableField"));
        	
        	  var delVal="[";
              $(".box_con_con input[name='abc']:checked").each(function () {
            	  delVal+="{";
            	  var children=$(this).parent().parent().children("td ").find("input");
            	  console.log(children[1],this);
           		  for(var i=0;i<tableField.length;i++){
           			delVal+="'"+tableField[i]["columnName"]+"'"+
           				":"+"'"+children[i+1].value+"&"+tableField[i]["dataType"]+"'"+",";
            	  }
            	  delVal=delVal.substring(0,delVal.length-1);
                  delVal+="},";
                  
              });
              delVal=delVal.substring(0,delVal.length-1);
              delVal+="]";
              console.log(delVal);
              var datas=main.requireAjax(main.configIp+"/ssm-maven/sql/updateData.do?tbName="+tbName,JSON.stringify(delVal),"post");
              if(datas.code=="0000"){
            	  layer.msg(datas.msg);
            	  getTable({tbName:tbName,dbName:main.databases,page:1,size:5});
              }else if(datas.code=="1000"){
                  layer.msg(datas.msg);
              }
            }); 
        
        function getTable(obj){
        	var datas=main.requireAjax(main.configIp+"/ssm-maven/sql/getsqltbfiled.do",JSON.stringify(obj),"get");
        	var tbhead="<tr class=\"tb_head\"><td>选择</td>";
            var names=new Array();
        	if(datas.code=="0000"){
        		console.log(datas.data["queryTableField"]);
        		localStorage.setItem("tableField",JSON.stringify(datas.data["queryTableField"]));
            	for(var i = 0; i <datas.data["queryTableField"].length; i++){
            		tbhead+="<td>"+datas.data["queryTableField"][i]["columnName"]+"</td>";
            		names[i]=datas.data["queryTableField"][i]["columnName"];
            	}
            	tbhead+="</tr>";
            	//JSON.parse(datas.data["queryTableInfo"]);;
            	for(var i = 0; i <datas.data["queryTableInfo"].length; i++){
            	tbhead+="<tr><td><input name=\"abc\" type=\"checkbox\" class=\""+datas.data["queryTableInfo"][i][names[0]]+"\"/></td>";
            		for(var j=0;j<names.length;j++){
            				tbhead+="<td><input class='input"+j+"' value='"+datas.data["queryTableInfo"][i][names[j]]+"' /></td> ";
            		}
            	tbhead+="</tr>";
            	}
            	
            	
            	$(".tb_body").html(tbhead);
            	globalObj.sum=Math.ceil(datas.data["total"]/(obj["size"]));
            	$(".con_down_span2").html("总数据"+datas.data["total"]+"条");
            	$('.input0').attr("disabled",true);
            }else if(datas.code=="1000"){
                layer.msg(data.msg);
            }
        }
	        document.onkeydown=function(e){//键盘enter登录事件
	            var e=e||window.event;
	            if(e.keyCode==13){
	                if($(".bbbtext").val()!=""){
	                	//查询表字段 内容
	                	var  tbval=localStorage.getItem("tableName");
	                   	getTable({tbName:tbval,dbName:main.databases,page:1,size:5});
	                   	setPageConfig();
	                    $(".demo").css({display:"block"});
	                } 
	            }
	        };
    })
</script>
</body>
</html>